<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <br/>
   
      <form>
        <div class="form-group">
            <label >Name</label>
            <div class="row">
                <div class="col">

                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>
              <small id="namelHelp" class="form-text text-muted">Required</small>
        </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Required</small>
          </div>

          <div class="form-group">
              <label >Phone number</label>
              <input type="text" class="form-control" id="phonenumber" aria-describedby="emailHelp" placeholder="Enter phone number">
            </div>
            <div class="form-group">
                <label >Your message</label>
                <input type="text" class="form-control" id="message" aria-describedby="emailHelp">
              </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
</body>
</html>