<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

      <div class="card-deck">

      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">TiTi Optics</h5>
            </div>
            <div class="modal-body">
              <img src="././assets/img/titi.jpg" width='340'/>
              
              <p><img src="././assets/img/location2.png" height="20"/> Ramallah, AL Bakri Building</p>
              <p><img src="././assets/img/telephone.jpg" height="20"/>+972 59-798-8884</p>

            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <button type="button" class="btn btn-primary">Show Products</button>
            </div>
          </div>
        </div>


        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tarifi Optics</h5>
              </div>
              <div class="modal-body">
                <img src="././assets/img/tarifi.png" width='340' height='235'/>
                
                <p><img src="././assets/img/location2.png" height="20"/> Al bireh, Irsal street</p>
                <p><img src="././assets/img/telephone.jpg" height="20"/>02-295-4284</p>
  
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" href="index/products">Show Products</button>
              </div>
            </div>
          </div>
        </div>
</body>
</html>